@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ffff;
}
body {
   
    background: linear-gradient(#111111, #2a2d42);
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    transition: background ease 0.30s;
    position: relative;
}
header {
    text-align: center;
    padding: 10em;
}
.icon-container {
    position: absolute;
    opacity: 0.2;
    
}
#icon {
    animation: rotate ease 2s;
    transform: rotate( 0deg);
}
@keyframes rotate {
    0% {
        transform: rotate( 50deg);
    }
    100% {
        transform: rotate( 0deg);
    }
}
 .container, .clock-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.container {
  width: 100%;
  height: 100vh;
  flex-flow: center;
}
.clock-container {
  padding: 3em;
  width: auto;
  height: auto;
  max-height: 100%;
  background-color: #0c0c0c;
  box-shadow: 25px 20px 0px #0000006b;
  border: 1px solid #000000;
  border-radius: 1rem;
  flex-flow: row;
}
.clock-box {
  width: 12vw;
  padding: 1em;
  background-color: rgb(26, 0, 0);
  color: rgb(243, 59, 59);
  font-size: 3em;
  text-shadow: 0px 0px 7px rgb(194, 49, 49);
  border: 1px solid #BEBEBE;
  border-radius: 1rem;
  text-align: center;
}
.clock-divider {
  transform: scale(1.50);
  padding: 1em;
  font-size: 2.20em;
  opacity: 0.8;
}
.format-box {
  padding: 1.50em;
  transform: scale(1.90);
  font-size: 2em;
  opacity: 0.8;
}
p {
  text-align: center;
  padding-top: 1.50em;
}

/* LIGHT MODE */
#icon.light-mode {
    animation: rotate-sun ease 2s;
    transform: rotate( 50deg);
}
@keyframes rotate-sun {
    0% {
        transform: rotate( 0deg);
    }
    100% {
        transform: rotate( 50deg);
    }
}
body.light-mode {
    background: linear-gradient(rgb(253, 150, 91), rgb(255, 255, 121)), url(images/sun.png) no-repeat top left;
    background-size: 100%;
    transition: background ease 1s;
}
.format-box.light-mode, h1.light-mode, .clock-divider.light-mode, p.light-mode {
    color: #000000;
}
.clock-container.light-mode {
    background-color: #ffff;
    box-shadow: 25px 20px 0px #4d3b003a;
    border: 1px solid #BEBEBE;
}
.clock-box.light-mode {
    border: 2px solid #000000;
}